.todo-logo {
  padding-left: 50px;
}
.add-todo-form,
.edit-todo-form {
  margin-left: 110px;
  margin-right: 100px;
  padding: 30px 70px;
  box-shadow: 11px 10px 11px #888888;
  background-color: rgb(246, 255, 255);
}
.todo-item {
  padding-bottom: 15px;
}
.btn-delete {
  color: red;
  font-size: 22px;
  margin-left: 15px;
}
.btn-edit {
  color: green;
  font-size: 20px;
}
.labelStyle {
  color: purple;
  font-size: 20px;
}
.page-header {
  color: red;
}
.add-todo-header {
  text-align: center;
  color: blue;
}
.edit-todo-header {
  text-align: center;
  color: green;
}
.div-btn-save {
  margin-left: 15px;
}
