.userHeader {
  color: red;
  text-align: center;
  padding-top: 30px;
}

* {
  box-sizing: border-box;
}

.userList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  list-style-type: none;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .userList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.view-more-link {
  color: blue;
  text-decoration: none;
}

.user-name {
  color: green;
}

img {
  margin-left: 50px;
  border-radius: 50%;
}
